<h1>this the index page </h1>

<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	   <% @articles.each do |ar| %>
		<tr>
			<td> <%= ar.title %> </td>
			<td> <%= ar.description %></td>
			<td> <%= link_to 'show', article_path(ar) %> </td>
			<td> <%= link_to 'edit', edit_article_path(ar) %></td>
			<td> <%= link_to 'Destroy', article_path(ar), method: :delete, data: {confirm: 'are you sure' } %></td>
		</tr>
	  <% end %>
	</tbody>
</table>