<h1 align="center">welcom    <%= @user.username %></h1>
<div class="container" align="center">
	<%= image_tag @user.gravatar_url, class: "img-circle"%>
</div>
<div align="center">
	<%= will_paginate @user_articles %>
</div>
<div class="container">
	<%= render 'articles/article', obj: @user_articles %>
</div>
<div align="center">
	<%= will_paginate @user_articles %>
</div>
